In [120]:
import numpy as np
import pandas as pd
from astroplan import Observer
from astropy import coordinates
from astropy.coordinates import EarthLocation
from astropy.time import Time
from astroplan.plots import plot_airmass
from astropy.coordinates import get_sun, get_body, get_moon
from astroplan import moon_illumination
from astroplan import MoonSeparationConstraint, observability_table
import astropy.units as u
from astroplan import AltitudeConstraint, AirmassConstraint, AtNightConstraint
from astroplan import Constraint
from astropy.coordinates import SkyCoord
from astroplan import FixedTarget

In [167]:
quasars=pd.read_fwf('quasars.txt', skiprows=4, delimiter='|')
quasars[0:10]

   name                       ra           dec
0  WISEA J043431.62-894617.9  04 34 31.62  -89 46 17.9
1  WISEA J094017.96-894442.8  09 40 17.96  -89 44 42.8
2  WISEA J192247.55-893602.5  19 22 47.55  -89 36 02.5
3  WISEA J174333.00-893514.8  17 43 33.01  -89 35 14.8
4  WISEA J214955.49-893435.5  21 49 55.50  -89 34 35.6
5  WISEA J094526.46-893159.0  09 45 26.47  -89 31 59.0
6  WISEA J212638.23-892859.5  21 26 38.24  -89 28 59.5
7  WISEA J045305.39-892601.5  04 53 05.40  -89 26 01.6
8  WISEA J174350.23-892550.8  17 43 50.23  -89 25 50.9
9  WISEA J005023.03-892532.2  00 50 23.03  -89 25 32.3

In [122]:
dupont=Observer.at_site("lco")
dupont

<Observer: name='lco',
    location (lon, lat, el)=(-70.70166666666665 deg, -29.003333333333327 deg, 2281.9999999994607 m),
    timezone=<UTC>>

In [169]:
time=np.arange('2019-05-15', '2019-05-31', dtype='datetime64[D]')

moon_ratio=dupont.moon_illumination(time)
moon_ratio

moon_phase = dupont.moon_phase(time)
print(moon_phase)

constraints = [AirmassConstraint(1.5), AtNightConstraint.twilight_astronomical()]

[0.88831637 0.6586472  0.43176186 0.21192157 0.07238651 0.24816147
 0.45501737 0.65920405 0.85897168 1.05458923 1.24694396 1.43723874
 1.6268483  1.81721446 2.00975029 2.20574009] rad

In [168]:
quasars.columns=[c.strip() for c in quasars.columns]

coords_str=quasars['ra'].str.strip().str.replace(' ',':')+' '+quasars['dec'].str.strip().str.replace(' ',':')

coord=SkyCoord(coords_str[0], unit=[u.hour,u.deg])
coords_str[0:10]

0    04:34:31.62 -89:46:17.9
1    09:40:17.96 -89:44:42.8
2    19:22:47.55 -89:36:02.5
3    17:43:33.01 -89:35:14.8
4    21:49:55.50 -89:34:35.6
5    09:45:26.47 -89:31:59.0
6    21:26:38.24 -89:28:59.5
7    04:53:05.40 -89:26:01.6
8    17:43:50.23 -89:25:50.9
9    00:50:23.03 -89:25:32.3
dtype: object

We ran into some complications when we trying to sort through thew data, the data hates us.